Deny from all
AllowOverride All

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /whoru/
  RewriteCond $1 !^(index\.php|Images|Static|robots\.txt)
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>